<h1 class="display-1 text-center mt-5">Dankort</h1>

<form>

  <div class="form-row">
    <div class="form-group col-lg-6 offset-lg-3">
      <label for="accountname" class="col-sm-form-label">Account name</label>
      <input type="text" class="form-control" name="accountname" id="accountname" placeholder="insert accountname">
      <small id="helpId" class="form-text text-muted">It can be anything you like! :)</small>
    </div>
  </div>
  <div class="form-row">
    <div class="col-lg-6 offset-lg-3 form-group">
      <label for="lastsyncdate">Latest sync date</label>
      <input type="date" class="form-control" name="lastsyncdate" id="lastsyncdate" aria-describedby="#date-help-text" placeholder="">
      <small id="date-help-text" class="form-text text-muted">Change the date to manually resync</small>
    </div>
  </div>

  <div class="form-row">

    <div class="form-group mx-auto col-lg-6">
      <label class="text-center display-3 mx-auto col-12">
        Bank
      </label>
      <div class="card shadow">
        <div class="card-body">
          <div class="form-group">
            <label for="bankNickName">Nickname:</label>
            <input type="text" class="form-control" name="bankNickName" id="bankNickName" aria-describedby="#bankNickName-help-text" placeholder="">
            <small id="bankNickName-help-text" class="form-text text-muted">Just pick any! :)</small>
          </div>
          <div class="form-group">
            <label for="bankName">Institution:</label>
            <input type="text" class="form-control" name="bankName" id="bankName" aria-describedby="#bankName-help-text" placeholder="">
            <small id="bankName-help-text" class="form-text text-muted">The name of your bank.</small>
          </div>
          <div class="form-group">
            <label for="bankAccName">Account name:</label>
            <input type="text" class="form-control" name="bankAccName" id="bankAccName" aria-describedby="#bankAccName-help-text" placeholder="">
            <small id="bankAccName-help-text" class="form-text text-muted">The name of your bank-account.</small>
          </div>
          <!-- <button type="submit" class="btn btn-lg btn-block btn-warning">Edit bank connection</button> -->
        </div>
      </div>
    </div>
 <!--  </div>
  <div class="form-row"> -->
    <div class="form-group col-lg-6">
      <label class="text-center display-3 mx-auto col-12 ">
          YNAB
      </label>
      <div class="card shadow">
        <div class="card-body">
          <div class="form-group">
            <label for="ynabUserName">YNAB username:</label>
            <input type="text" class="form-control" name="ynabUserName" id="ynabUserName" aria-describedby="#ynabUserName-help-text" placeholder="">
            <small id="ynabUserName-help-text" class="form-text text-muted">You're YNAB username.</small>
          </div>
          <div class="form-group">
            <label for="ynabBudgetName">YNAB Budget:</label>
            <input type="text" class="form-control" name="ynabBudgetName" id="ynabBudgetName" aria-describedby="#ynabBudgetName-help-text" placeholder="">
            <small id="ynabBudgetName-help-text" class="form-text text-muted">The YNAB budget you want to sync with your bank.</small>
          </div>
          <div class="form-group">
            <label for="ynabBudgetName">Budget account:</label>
            <input type="text" class="form-control" name="ynabBudgetName" id="ynabBudgetName" aria-describedby="#ynabBudgetName-help-text" placeholder="">
            <small id="ynabBudgetName-help-text" class="form-text text-muted">The YNAB budget you want to sync with your bank.</small>
          </div>

          <!-- <button type="submit" class="btn btn-lg btn-block btn-primary">Edit YNAB connection</button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-lg-6 offset-lg-3 mt-5">
      <button type="submit" class="btn btn-lg btn-block btn-success">Save</button>
    </div>
  </div>

</form>