<form>

  <div class="form-row">
    <div class="form-group col-lg-4 offset-lg-2">
      <label for="accountname" class="col-sm-form-label">Account name</label>
      <input type="text" class="form-control" name="accountname" id="accountname" placeholder="insert accountname">
    </div>
  </div>

  <div class="form-row">
    <div class="col-lg-4 offset-lg-2 form-group">
        <label for="" class="col-sm-form-label">Account name</label>
      <button type="submit" class="btn btn-lg btn-block btn-warning">Connect to bank account</button>
    </div>
    <div class="col-lg-4 form-group">
        <label for="" class="col-sm-form-label">Account name</label>
      <button type="submit" class="btn btn-lg btn-block btn-primary">Connect to YNAB account</button>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-lg-8 offset-lg-2">
      <button type="submit" class="btn btn-lg btn-block btn-success">Save</button>
    </div>
  </div>

</form>