
<li class="list-group-item border-0">
    <div class="card bg-dark text-white">
        <div class="card-body">
          <div class="bank h-50">
            <h1 class="card-title">Arbejdernes Landsbank</h1>
            <p class="card-title">Bank account: Nemkonto</p>
          </div>

          <div class="ynab h-50">
            <h1 class="card-title">YNAB</h1>
            <p class="card-title">Budget: Dansk Budget</p>
            <p class="card-title">Account Name: Dankort</p>
          </div>
        </div>
    </div>
</li>

