<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Vinab</a>
  <div *ngIf="currentUser">
    <a class="btn" [routerLink]="[ '/' ]" routerLinkActive="current">Overview</a>
    <a class="btn" [routerLink]="[ '/preferences' ]" routerLinkActive="current">preferences</a>
    <a class="btn" (click)="logout()">log out</a>
  </div>
</nav>
<div class="container">
    <ngb-alert *ngIf="alert" type="primary" [dismissible]="true" (close)="close()">Alert tester!</ngb-alert>

    <div class="row">
      <app-login-page class="col-12"></app-login-page>
    </div>
    <div class="row">
      <app-register-user class="col-12"></app-register-user>
    </div>
    <div class="row">
      <router-outlet class="col-12"></router-outlet>
    </div>
    <div class="row">
      <app-dashboard class="col-12"></app-dashboard>
    </div>
    <div class="row">
      <app-account-details class="col-12"></app-account-details>
    </div>

</div>


