<!-- Image and text -->
<nav class="navbar navbar-expand navbar-dark bg-dark shadow justify-content-center">
  <a class="navbar-brand mr-auto" [routerLink]="[ '/' ]">Vinab</a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li *ngIf="authService.isSessionValid()" class="nav-item">
      <a class="btn btn-danger text-white" (click)="logOut()">Logoff</a>
    </li>
  </ul>

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="btn text-white" [ngClass]="{'btn-success': alertsEnabled}" (click)="toggleAlerts()" >Toggle Messages</a>
    </li>



  </ul>
</nav>

<app-alert *ngIf="alertsEnabled"></app-alert>


<div class="container">
  <router-outlet></router-outlet>
</div>

