<div class="card shadow">
  <form class="card-body align-middle">
    <h3 class="card-title display-4">{{syncAccount.nickname}}</h3>
  </form>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">

      <h4 class="pl-4 font-weight-light">{{syncAccount.bankAccount.bankname + " - " + syncAccount.bankAccount.accountname}}</h4>
    </li>
    <li class="list-group-item">
      <h4 class="pl-4 font-weight-light">{{syncAccount.ynabAccount.budgetName + " - " + syncAccount.ynabAccount.budgetAccountName}}</h4>
    </li>
  </ul>
  <div class="card-body  d-flex justify-content-between">
    <a name="" id="" class="btn btn-lg btn-warning" href="/" role="button">Edit Connection</a>
    <a name="" id="" class="btn btn-lg btn-danger" href="/" role="button">Delete Connection</a>
  </div>
</div>
