<div class="card shadow">
  <form class="card-body align-middle">
    <h3 class="card-title display-4">{{account.nickName}}</h3>
  </form>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h4 class="pl-4 font-weight-light">{{account.bank.bankName + " - " + account.bank.accountName}}</h4>
    </li>
    <li class="list-group-item">
      <h4 class="pl-4 font-weight-light">{{account.budget.budgetName + " - " + account.budget.accountName}}</h4>
    </li>
  </ul>
  <div class="card-body  d-flex justify-content-between">
    <a (click)="edit()" class="btn btn-lg btn-warning" role="button">Edit Connection</a>
    <a (click)="delete()" class="btn btn-lg btn-danger" role="button">Delete Connection</a>
  </div>
</div>
