<h1 class="display-2 text-center mt-5">Dashboard</h1>

<div class="row my-5">
  <h2 class="col-lg-6 offset-lg-3">Accounts:</h2>
  <div class="col-lg-6 offset-lg-3">
    <ul class="list-group border-0">
      <li *ngFor="let account of accounts" class="list-group-item border-0 px-0">
          <app-account-card [account]="account"></app-account-card>
      </li>
      <!--<li class="list-group-item border-0 px-0"><app-account-card></app-account-card></li>-->
      <li class="list-group-item border-0 px-0">
        <button (click)="addAccount()" type="submit" class="btn btn-lg btn-block btn-success py-3">Add connection</button>
      </li>
    </ul>
  </div>

</div>